@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
:root {
  --purple-color: #8d27ae;
  --pink-color: #d9176d;
  --grey-color: #f3f3f3;
  --white-color: #fff;
  --black-color: #010101;
  --light-black-color: #717171;
  --transition: all 300ms ease-in-out;
}
body {
  @apply text-[26px] leading-[1.7] text-[var(--black-color)];
  font-family: "Poppins", sans-serif;
}

html {
  @apply text-[10px];
}

/* resets */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--black-color);
}
button {
  @apply outline-[0] border-none bg-transparent cursor-pointer;
  font-family: inherit;
}
img {
  width: 100%;
  display: block;
}
input {
  @apply border-none text-[26px];
  outline: 0;
  font-family: inherit;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.container {
  @apply max-w-[1200px] my-[0px] mx-auto py-[0px] px-[32px];
}

/* section title */
.section-title h2 {
  @apply font-semibold uppercase px-[0] pt-[18px] pb-[24px];
}
